# Maropost Credentials

MAROPOST_ACCT=
MAROPOST_AUTH=

# Maropost Class Test Values

LIST_ID=
CONTACT_ID=

GET_EMAIL=

POST_EMAIL=
POST_FNAME=
POST_LNAME=

PUT_EMAIL=
PUT_FNAME=
PUT_LNAME=
PUT_ISCON=

# Contact Class Test Values
CONTACT_SEARCH_EMAIL=
CONTACT_SEARCH_ID=
CONTACT_SEARCH_FNAME=

CONTACT_INDEX_LISTID=
CONTACT_INDEX_LISTSIZE=

CONTACT_CREATE_LISTID=
CONTACT_CREATE_EMAIL=
CONTACT_CREATE_FNAME=
CONTACT_CREATE_LNAME=

CONTACT_CREATEWO_EMAIL=
CONTACT_CREATEWO_FNAME=
CONTACT_CREATEWO_LNAME=

CONTACT_BLANK_LISTID=

CONTACT_SHOW_LISTID=
CONTACT_SHOW_CONTACTID=

CONTACT_UPDATE_LISTID=
CONTACT_UPDATE_CONTACTID=
CONTACT_UPDATE_EMAIL=
CONTACT_UPDATE_FNAME=
CONTACT_UPDATE_LNAME=

CONTACT_UPDATEALL_EMAIL=

CONTACT_DESTROY_LISTID=
CONTACT_DESTROY_CONTACTID=
CONTACT_DESTROY_EMAIL=